  <style>
        body {
            margin: 0; 
            font-family: Arial, sans-serif;
        }
        .top-nav {
            display: flex;
            justify-content: flex-end; /* Align items to the right */
            background-color: #D1D7DB;
            padding: 0px;
            border-bottom: 2px solid #C0C4C8;
       
   
   
        }
        .top-nav button {
            background: none; /* Remove default button styles */
            border: none;
            cursor: pointer;
            margin-left: 10px; /* Space between buttons */
        }
        .top-nav img {
            width: 30px;
            height: 30px;
        }
        nav {
            background-color: #E5EFF1; 
            padding: 30px;
            display: flex;
            justify-content: space-between; 
            align-items: center;
        }
        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
        }
        nav li {
            display: inline;
            margin-right: 20px;
        }
        nav a {
            text-decoration: none; /* Remove underline */
            color: #818F9A; /* Change text color */
            font-size: 22px;
        }
        .logo {
            width: 280px;
            height: auto;
        }
  </style>
